.add_type_content {margin:0;text-align:center}
.add_type_content li {-webkit-box-shadow: inset 0px 1px 0px 0px #fff;box-shadow: inset 0px 1px 0px 0px #fff;text-align:center;list-style:none;display:inline-block;margin:0 5px 10px;background: #f9f9f9;background: -moz-linear-gradient(top, #f9f9f9 0%, #efefef 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#efefef));background: -webkit-linear-gradient(top, #f9f9f9 0%,#efefef 100%);background: -o-linear-gradient(top, #f9f9f9 0%,#efefef 100%);background: -ms-linear-gradient(top, #f9f9f9 0%,#efefef 100%);background: linear-gradient(top, #f9f9f9 0%,#efefef 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#efefef',GradientType=0 );border:1px solid #e2e2e2;-webkit-border-radius: 6px;-moz-border-radius: 6px;-ms-border-radius: 6px;border-radius: 6px}
.add_type_content li:hover {border-color:#d2d2d2;-moz-box-shadow: 0 0 6px #ccc;-webkit-box-shadow: 0 0 6px #ccc;box-shadow: 0 0 6px #ccc}
.add_type_content li a {text-shadow: 1px 1px 0 #fff}
.add_type_content li a {position:relative;display:block;padding:45px 1px 2px;width:85px;height:22px;font-size:11px;color:#222;background-repeat:no-repeat;background-position: center 10px}
.add_type_content li a:hover {text-decoration:none}
.add_type_content .label {position:absolute;right:-5px;top:-5px}


/* base cms template */
.content-left {
    margin-left: 2%;
    padding: 0;
    width: 57%;
    min-height: 500px;
    float: left;
    overflow: auto;
}

.content-right {
    float: right;
    margin-right: 25px;
}

.content-left .tagit {
    display: block;
    clear: both;
}

#admin-area .cms-admin .admin-button {
    padding: 5px;
    font: 14px/100% Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    color: #FFF;
    -webkit-border-radius: 7px 7px 0px 0px; 
    -moz-border-radius: 7px 7px 0px 0px;    
    -khtml-border-radius: 7px 7px 0px 0px;  
    border-radius: 7px 7px 0px 0px;
    background: #F47C20;
    background: -webkit-gradient(linear, left top, left bottom, from(#F88E11), to(#F06015));
    background: -moz-linear-gradient(top, #F88E11, #F06015);
}

#admin-area .cms-admin .admin-button img {
    float: right;
}

#admin-area .cms-admin ul {
    margin: 0;
    padding: 5px;
    display: none;
	background-color:#111;
	background-color:rgba(15,15,15,0.9);
	-webkit-box-shadow:0 1px 3px #111;
	-moz-box-shadow:0 1px 2px #111;
	box-shadow:0 0px 1px #111;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=180, Strength=3);
	border-bottom:1px solid #777;
	-webkit-border-radius: 0px 0px 7px 7px;	
  	-moz-border-radius: 0px 0px 7px 7px;	
  	-khtml-border-radius: 0px 0px 7px 7px;	
  	border-radius: 0px 0px 7px 7px;
}

#admin-area .cms-admin ul li {
    list-style-type: none;
    margin: 2px 0;
    padding: 0;
    display: inline-block;
}

#admin-area .cms-admin:hover ul {
    display: block;
}

#admin-area .cms-menu-list {
    text-align: left;
}

.cms-breadcrumb {
    margin: -18px 0px 10px -5px;
    width: 65%;
/*  height: 31px;*/
}

.editor-browser .cms-breadcrumb {
    width: auto;
}

.cms-breadcrumb .separator {
    color: #A5A5A4;
}

.cms-breadcrumb a {
    color: #000;
    text-decoration: none;
}
.cms-breadcrumb a.nextnav {	background-color: #CCC;}
.cms-breadcrumb a.nextnav, .cms-breadcrumb .current.nextnav {
	position: relative;
	float: left;
	margin: 0 3px 5px 0;
	color: white;
	font-family: 'Oswald',Helvetica,Arial,sans-serif;
	background-image: url("../images/bgr_arrow-next.png");
	left: 0;
	top: 0;
	text-transform: uppercase;
	font-size: .9em;
	padding: 3px 15px 3px 5px;
	background-repeat: no-repeat;
	background-position: 100% 49%;	
}
.cms-breadcrumb .current.nextnav {
	background-color: gray;
}

/* end base cms template */

.template-list { min-height: 435px; }
    .template-list #children-list {
        margin: 0;
        padding: 0;
    }
    
        .template-list #children-list {
            padding-top: 10px;
        }
            .template-list #children-list tr:hover .admin-child div {
                visibility: visible;
            }
            .template-list #children-list .body-child {
                width: auto;
            }
            .template-list #children-list .child-icon {
                float: left;
                margin-right: 5px;
            }
            .template-list #children-list .child-title a:hover { text-decoration: none; }
            .template-list #children-list .child-desc {
                font-size: 11px;
                margin: 5px 0 0 37px;
            }
            .template-list #children-list .admin-child {
                width: 10%;
            }
                .template-list #children-list .admin-child div {
                    float: right;
                    visibility: hidden;
                }
                .template-list #children-list .admin-child .label {
                    float:right;
                }
            
.cms-folder { }
    .cms-folder .description {
        font-weight: bold;
    }

.cms-page { }
.cms-page .description {
    font-weight: bold;
}

.multipage-toc img {
    float: left;
}


.cms-nav {
    display: block;
    clear: both;
    min-height: 20px;
    margin: 10px 0px;
}

.cms-nav a {
    height: 20px;
    overflow: hidden;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border: 1px solid #A0A0A4;
}

.cms-nav .next {
    float: right;
    background: url("../images/next.png") 105% -1px no-repeat;
    padding: 0px 27px 0px 5px;
}

.cms-nav .prev {
    float: left;
    background: url("../images/prev.png") -1px -1px no-repeat;
    padding: 0px 5px 0px 27px;
}

/* file */
.cms-file-download.button {
    color: #FFF;
    background: #000;

}
/* endfile */

.content-left .desc-folder {
	text-align: justify;
	margin: 5px 0px;
/*		font-weight: bold;*/
	line-height: 15px;
	color: black;
	text-shadow: 1px 1px 1px #DDD;
} 
.content-right .tags-folder {} 
.children-list{margin: 20px 0px;}

#children-list .onDrag {
    background-color: #ABC;
}

.move-child {
    cursor: move;
    width: 16px;
	background:url("../images/arrow.png") no-repeat 98% 15%;
}


/* file browser of cms editor */
body.editor-browser {
    padding: 0;
    margin: 0;
}
    .editor-browser .content-tabs {
        margin: 0;
    }
    .editor-browser .file-list {
        padding: 5px;
        border-right: 1px solid #CCC;
        float: left;
        width: 40%;
        height: 200px;
        overflow: auto;
    }
    .editor-browser .selected-object,
    .editor-browser .selected-url {
/*        float: right;*/
        text-align: center;
        padding: 10px;
/*        width: 40%;*/
    }

.browser-tabs .ui-tabs-hide {
    display: none;
}

.browser-tabs ul li {
    float: left;
    padding: 3px;
}
