{% load i18n %}
<script type="text/javascript"> 
function facebox_tab(){
	$('.cms_subtypes a')
	.unbind('click')
	.bind('click', function() {
		var glink = $(this).attr('href');
		if(glink.match(/^#/)){
			jQuery.facebox({div: glink});
		}else{
			jQuery.facebox({ajax: glink});
		}
		facebox_tab();          
		return false;
	});
}
 
jQuery(document).ready(function($){
	$.ajaxSetup({cache: false});
	facebox_tab();
})
</script>
{% if type_content %}
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>{% trans "Add Content" %}</h3>
	</div>
	<div class="modal-body">	
		{% for item in type_content %} 
			<a class="widget card modal-launch-button" href="#modal-dialog" data-content="{% url base_create path item.name %}">
				<img class="image" src="{{ STATIC_URL }}images/cms-icons/{{item.name}}.png" alt="{{ item.title }}" width="64" height="64"/>
				<div class="head">{{ item.title}}</div>
			</a>
		{% endfor %}
	</div>
{% endif %}

{% if type_container %}
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>{% trans "Add Container" %}</h3>
	</div>
	<div class="modal-body">
		{% for item in type_container %} 
			<a class="widget card modal-launch-button" href="#modal-dialog" data-content="{% url base_create path item.name %}">					
				<img class="image" src="{{ STATIC_URL }}images/cms-icons/{{item.name}}.png" alt="{{ item.title }}" width="64" height="64"/>
				<div class="head">{{ item.title}}</div>
			</a>
		{% endfor %}
	</div>
{% endif %}