{% extends "base.html" %}
{% load i18n %}
{% load socialapps_tags %}
{% load cms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/cms.css">
{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.collapse').collapse();
			var startOrder = endOrder = "";
			$("#children-list").tableDnD({
				onDragClass: 'onDrag',
				dragHandle: 'move-child',
				onDrop: function(table, row) {
					endOrder = $.tableDnD.serialize().replace(/children-list\[\]+=/g, '').split('&');
					actualRow = row.id
					if( endOrder !== startOrder) {
						for (var i = 0; i < endOrder.length; i++) {
							if (endOrder[i] === actualRow) {
								object = actualRow;
								if ( i > 0 ) {
									target = endOrder[i-1]
									position = 'right';
								} else {
									target = endOrder[i+1]
									position = 'left';
								}
							}
						}
						$.post('{% url base_sort object.get_absolute_url %}', 
							{ 
								'object' 	: object, 
								'target' 	: target,
								'position'	: position,
								'csrfmiddlewaretoken' : '{{ csrf_token }}'
							}, function(data) {
								console.log(data);
						});					
					}
				},
				onDragStart: function(table, row) {
					startOrder = $.tableDnD.serialize().replace(/children-list\[\]+=/g, '').split('&');
				}
			});
		});
	</script>
{% endblock %}

{% block content %}
	{% block content_top %}
		<div class="row">
		    <div class="span12">
		        <div id="content-tabs" class="navbar">
		            <div class="navbar-inner">
		                <div class="container">
				            {% block content_tabs %}
								{% show_breadcrumb object %}
								{% ifhasperm edit object %}
									{% include "cms/cms_admin_menu.html" with object=object %}
								{% endifhasperm %}			
								{% if parent.portal_type == 'multipage' %}			
									<ul class="nav pull-right">
										<li>
											<div class="btn-group">
												{% with object.get_previous_sibling as previous %}
													{% if previous %}									
														<a class="btn primary" href="/{{ previous.get_absolute_url }}" rel="tooltip" data-original-title="{{previous.title}}" data-placement="bottom"><i class="icon-chevron-left"></i>{% trans "Previous" %}</a>
													{% else %}
														<a class="btn primary disabled" href="#" rel="tooltip" data-original-title="{% trans 'No previous object' %}" data-placement="bottom"><i class="icon-chevron-left"></i>{% trans "Previous" %}</a>	
													{% endif %}
												{% endwith %}
												{% with object.get_next_sibling as next %}
													{% if next %}
														<a class="btn primary" href="/{{next.get_absolute_url }}" rel="tooltip" data-original-title="{{next.title}}" data-placement="bottom">{% trans "Next" %}<i class="icon-chevron-right"></i></a>
													{% else %}
														<a class="btn primary disabled" href="#" rel="tooltip" data-original-title="{% trans 'No next object' %}" data-placement="bottom">{% trans "Next" %}<i class="icon-chevron-right"></i></a>
													{% endif %}
												{% endwith %}
											</div>
										</li>
									</ul>
								{% endif %}
							{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
	{% block content_middle %}
		<div class="row">
			<div class="span8">
			    <div class="widget">
			    <div class="widget-header"><h3>{% block content_title %}{% endblock %}</h3></div>
				<div class="widget-content">
					{% ifhasperm socialize object %}
						{% block content_left %}{% endblock %}
					{% else %}
						<h3>{% trans "You can't see this content" %}</h3>
					{% endifhasperm %}
				</div>
				</div>
			</div>
			<div class="span4">
		        {% block content_right %}
					{% show_navigation object %}
		    		{% show_multipage_toc object %}
		    	{% endblock %}
			</div>
		</div>
	{% endblock %}
{% endblock %}
