{% extends "base.html" %}
{% load i18n %}
{% load socialapps_tags %}
{% load courses_tags %}
{% load cms_tags %}

{% block extra_css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/buttons.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/cms.css">
{% endblock %}

{% block extra_js %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cleditor.extimage.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {						
			$('.collapse').collapse();
			var startOrder = endOrder = "";
			$("#children-list").tableDnD({
				onDragClass: 'onDrag',
				dragHandle: 'move-child',
				onDrop: function(table, row) {
					endOrder = $.tableDnD.serialize().replace(/children-list\[\]+=/g, '').split('&');
					actualRow = row.id
					if( endOrder !== startOrder) {
						for (var i = 0; i < endOrder.length; i++) {
							if (endOrder[i] === actualRow) {
								object = actualRow;
								if ( i > 0 ) {
									target = endOrder[i-1]
									position = 'right';
								} else {
									target = endOrder[i+1]
									position = 'left';
								}
							}
						}
						$.post('{% url base_sort object.get_absolute_url %}', 
							{ 
								'object' 	: object, 
								'target' 	: target,
								'position'	: position
							}, function(data) {
								console.log(data);
						});					
					}
				},
				onDragStart: function(table, row) {
					startOrder = $.tableDnD.serialize().replace(/children-list\[\]+=/g, '').split('&');
				}
			});
		});
	</script>
	{% if object %}
		<script type="text/javascript">
			$.cleditor.buttons.image.uploadUrl = '{% url base_create object.get_absolute_url "image" %}';
			$.cleditor.buttons.image.popupContent =	
				'<ul class="nav nav-tabs browser-tabs">' +
					'<li><a href="#url" data-toggle="tab">{% trans "Url from a external image" %}</a></li>' +				
					'<li><a href="#upload" data-toggle="tab">{% trans "Upload from your computer" %}</a></li>' +
					'<li><a href="#existing" data-toggle="tab">{% trans "Choose an existing one" %}</a></li>' +					
				'</ul>' +
				'<div class="tab-content">'+
					'<div id="url" class="tab-pane fade">' +
						'<input type="text" class="url" size="40" value="" />' +				
					'</div>' +
					'<div id="upload" class="tab-pane fade"><iframe style="width:0;height:0;border:0;" name="__upload_iframe" />' +
						'<form method="post" enctype="multipart/form-data" action="" target="__upload_iframe">' +
						"{% csrf_token %}" + 			
						'<input id="id_image" name="image" type="file" /></form>' +
					'</div>' +
					'<div class="tab-pane fade" id="existing">' +
						'<iframe width="500" height="250" name="existing" style="border:1px solid #CCC;" src="{% url ajax_browser object.get_absolute_url "image" %}" />' +
					'</div>' +
					'<input type="button" class="btn save-image" value="Submit"/>' + 
				'</div>';
		
			$.cleditor.buttons.link.popupContent = 
				'<ul class="nav nav-tabs browser-url-tabs">' +
					'<li><a href="#link-url" data-toggle="tab">{% trans "External url" %}</a></li>' +								
					'<li><a href="#existing-url" data-toggle="tab">{% trans "Choose an existing object to link" %}</a></li>' +
				'</ul>' +
				'<div class="tab-content">' +
					'<div id="link-url" class="tab-pane fade">' +					
						'<input type="text" class="url" size="40" value="" />' +
					'</div>' +
					'<div id="existing-url" class="tab-pane fade">'+
						'<iframe width="500" height="250" name="existing" style="border:1px solid #CCC;" src="{% url ajax_browser object.get_absolute_url "all" %}" />' +
					'</div>' +
					'<input type="button" class="btn save-link" value="Submit"/>' +
				'</div>';
		</script>
	{% endif %}
{% endblock %}

{% block content %}
	<div class="navbar navbar-static content-tabs">
		<div class="navbar-inner">
			<div class="container">
        		{% block content_tabs %}
					{% show_breadcrumb object %}
					{% ifhasperm edit object %}
						{% include "cms/cms_admin_menu.html" with object=object %}
					{% endifhasperm %}			
					{% if parent.portal_type == 'multipage' %}			
						<ul class="nav pull-right">
							<li>
								<div class="btn-group">
									{% with object.get_previous_sibling as previous %}
										{% if previous %}									
											<a class="btn primary" href="/{{ previous.get_absolute_url }}" rel="tooltip" data-original-title="{{previous.title}}" data-placement="bottom"><i class="icon-chevron-left"></i>{% trans "Previous" %}</a>
										{% else %}
											<a class="btn primary disabled" href="#" rel="tooltip" data-original-title="{% trans 'No previous object' %}" data-placement="bottom"><i class="icon-chevron-left"></i>{% trans "Previous" %}</a>	
										{% endif %}
									{% endwith %}
									{% with object.get_next_sibling as next %}
										{% if next %}
											<a class="btn primary" href="/{{next.get_absolute_url }}" rel="tooltip" data-original-title="{{next.title}}" data-placement="bottom">{% trans "Next" %}<i class="icon-chevron-right"></i></a>
										{% else %}
											<a class="btn primary disabled" href="#" rel="tooltip" data-original-title="{% trans 'No next object' %}" data-placement="bottom">{% trans "Next" %}<i class="icon-chevron-right"></i></a>
										{% endif %}
									{% endwith %}
							</li>
						</ul>
					{% endif %}
				{% endblock %}
			</div>
		</div>
	</div>

<div class="row">
	<div class="span8">
		<div class="cms-content">
			{% block content_left %}{% endblock %}
		</div>
	</div>
	<div class="span4">
        <!-- <div class="tags-folder">{{object.tags}}</div> -->
		{% get_content_parent object %}
		{% if content_parent.parent.portal_type == 'course' %}
			{% load courses_tags %}
			{% get_user_section content_parent.parent %}
			{% if section %}
				{% show_navigation section %}
			{% endif %}
		{% else %}
			{% show_navigation object %}
		{% endif %}
		{% show_multipage_toc object %}
		{% block content_right %}{% endblock %}
	</div>
</div>
{% endblock %}
