{% extends "base.html" %}
{% load i18n %}
{% load socialapps_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/cms.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/buttons.css">
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

</script>
{% endblock %}


{% block content_tabs %}
	{% show_local_menu object 'resources' %}
{% endblock %}

{% block content %}
<div class="cms-breadcrumb">
	{% block cms_nav %}
		{% if ancestors|length == 0 %}
			<a href="/{{object.get_absolute_url}}" class="nextnav">{{object.title}}</a> <span class="current nextnav">{% trans "Homepage" %}</span>
		{% else %}
			{% for item in ancestors %}
				<a href="/{{item.get_absolute_url}}" class="nextnav">{{item}}</a> 
			{% endfor %}
			<span class="current nextnav">{{ object.title }}</span>
		{% endif %}
	{% endblock %}
</div>

<div>	
	<div class="content-left">
	    <div class="desc-folder">{{object.description}}</div>
		{% block content_left %}{% endblock %}
		{% if parent.portal_type == 'multipage' %}		
			<div class="cms-nav">
				{% with object.get_previous_sibling as previous %}
					{% if previous %}
						<a href="/{{ previous.get_absolute_url }}" class="prev">{{ previous }}</a>
					{% endif %}
				{% endwith %}
				{% with object.get_next_sibling as next %}
					{% if next %}
						<a href="/{{next.get_absolute_url }}" class="next">{{ next }}</a>
					{% endif %}
				{% endwith %}
			</div>		
		{% endif %}		
	</div>
	<div id="content-right">
        <div class="tags-folder">{{object.tags}}</div>	    
		{% if parent.portal_type == 'multipage' %}
			<ul class="cms-toc">
				{% for item in parent.get_children %}
					{% if item.id == object.id %}
						<li class="current">
							<img src="{{ STATIC_URL }}images/cms-icons/{{item.portal_type}}.png" width="16" height="16">
							{{ item }}
						</li>
					{% else %}
						<li>
							<a href="/{{item.get_absolute_url}}">
								<img src="{{ STATIC_URL }}images/cms-icons/{{item.portal_type}}.png" width="16" height="16">
								{{ item }}
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>		
		{% endif %}
        {% ifhasperm edit object %}
			{% include "cms/cms_admin_menu.html" with object=object %}
        {% endifhasperm %}
		{% block content_right %}{% endblock %}
	</div>
</div>
{% endblock %}
