{% load i18n %}
<table id="children-list" class="children-list table">
    {% for child in children %}
    	<tr id="{{child.id}}">
			<td class="body-child">
	    		<a class="child-icon" href="/{{ child.get_absolute_url }}">
					<img src="{{STATIC_URL}}{{child.icon}}" width="32" height="32">
				</a>
				<span class="child-title"><a href="/{{ child.file.url }}"><h4>{{child.title }}</h4></a></span>
				<div class="child-desc">{{child.description|safe }}</div>
			</td>			
		</tr>
    {% endfor %}
</table>