{% load socialapps_tags %}
{% load pagination_tags %}
{% load i18n %}

<table id="children-list" class="children-list table">
    {% for child in children %}
    	<tr id="{{child.id}}">
			<td class="move-child"></td>
			<td class="body-child">
	    		<a class="child-icon" href="/{{ child.get_absolute_url }}">
					<img src="{{STATIC_URL}}images/cms-icons/{{child.portal_type}}.png" width="32" height="32">
				</a>
				<span class="child-title"><a href="/{{ child.get_absolute_url }}"><h4>{{child.title }}</h4></a></span>
				<div class="child-desc">{{child.description|safe }}</div>
			</td>			
				<td class="admin-child">
						<div>
							<a href="#confirm-modal" rel="tooltip" class="modal-confirm-button" data-content="{% url base_delete path=child.get_absolute_url %}" data-original-title="{% trans 'Delete' %}" data-toggle="modal"><i class="icon-trash"></i></a>
							<a class="modal-launch-button" rel="tooltip" href="#modal-dialog" data-toggle="modal" data-content="{% url base_edit path=child.get_absolute_url %}" data-original-title="{% trans 'Edit' %}"><i class="icon-edit"></i></a>					
						</div>
						{% if child.hide %}	
							<span class="hidden label label-important">{% trans "Hidden" %}</span>
						{% endif %}						
				</td>				
		</tr>
    {% endfor %}
</table>