{% load i18n %}
<ul class="nav pull-right">
	<li class="divider-vertical"></li>
	<li>
			<div class="btn-group">
				<a class="btn primary" data-toggle="dropdown" href="#">
					{% trans "Administration" %}
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu  nav-list">
					{% if object.get_portal_type.subtypes %}
						<li><a href="#modal-dialog" class="modal-launch-button" data-toggle="modal" data-content="{% url base_add path=object.get_absolute_url %}"><i class="icon-plus"></i>&nbsp;{% trans "Add" %}</a></li>
					{% endif %}
							{% if object.portal_type in "exam,quiz,survey" %}
								<li><a href="{% url questionnaire_builder path=object.get_absolute_url %}"><i class="icon-edit"></i>&nbsp;{% trans "Edit" %}</a></li>
							{% else %}
								<li><a class="modal-launch-button" href="#modal-dialog" data-toggle="modal" data-content="{% url base_edit path=object.get_absolute_url %}"><i class="icon-edit"></i>&nbsp;{% trans "Edit" %}</a></li>
							{% endif %}
					{% if object.slug != 'resources' and object.slug != 'syllabus' and object.slug != 'learningpath' %}											
						<li><a href="#confirm-modal" class="modal-confirm-button" data-content="{% url base_delete path=object.get_absolute_url %}" data-toggle="modal"><i class="icon-trash"></i>&nbsp;{% trans "Delete" %}</a></li>
					{% endif %}
					<li class="divider"></li>
					<li class="nav-header">{% trans "view as" %}</li>
					<li {% if request.GET.template == 'user' %}class="active"{% endif %}><a href="?template=user"><i class="icon-eye-open"></i> {% trans "User" %}</a></li>
					<li {% if request.GET.template == "admin" or not request.GET.template %}class="active"{% endif %}><a href="?template=admin"><i class="icon-eye-close"></i> {% trans "Administrator" %}</a></li>
				</ul>
			</div>
	</li>
</ul>