{% load i18n %}
{% load bootstrap_tags %}
{% include "cleditor_params.html" %}
<script type="text/javascript">
    function save(data, statusText, xhr, $form) {
        if (data.success) {
            window.location = data.success_url;
        } else {
            $('input[type=submit]', $form).button('reset');
            if($('#progress', $form).length > 0) {
                $('#progress', $form).removeClass('active');
                $('#progress', $form).addClass('hide');
            }
            if ($('#id_file', $form).length > 0) {
                $('#id_file', $form).removeClass('hide');
            } else if ($('#id_image', $form).length > 0) {
                $('#id_image', $form).removeClass('hide');
            }
            $('.help-inline').remove();
            $('.control-group').removeClass('error');
            for (var item in data.errors) {
                for (var error in data.errors[item]) {
                    $div = $('#div_id_' + item);
                    $div.addClass('error');
                    $div.find('.controls').append('<span id="error_' + item + '" class="help-inline">'+ data.errors[item][error] +'</span>');
                }
            }
        }
    }

    $(document).ready(function() {
        var availableTags = [ {% for t in tags %} '{{t}}',{% endfor %} ]
        $("#id_tags").tagit({availableTags   : availableTags});
        $('#cms-form').ajaxForm({dataType : 'json', success : save , beforeSubmit: loadingForm});
    });
    
</script>
<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>
         <img src="{{ STATIC_URL }}{{icon}}" alt="{{ title }}" width="16" height="16" class="type-icon"/>
        {% if add %}
            {% trans "Add" %} {% trans title %}
        {% else %}
            {% trans "Edit" %} {% trans title %}
        {% endif %}
    </h3>
</div>
    <form method="POST" id="cms-form" action="{{ url_form_post }}" enctype="multipart/form-data" class="form horizontal-form">
    {% csrf_token %}
    <div class="modal-body">
        <fieldset>
            {{ form|as_bootstrap }}
        </fieldset>
    </div>
    <div class="modal-footer">
        <input type="submit" value="Save" class="btn btn-primary"/>
        <a href="#" class="btn cancel" data-dismiss="modal">{% trans "Cancel" %}</a>
    </div>
</form>