<script type="text/javascript">
    $(document).ready(function() {
        var availableTags = [ {% for t in tags %} '{{t}}',{% endfor %} ]        
        $("#id_tags").tagit({availableTags   : availableTags});
    });
</script>
<form method="POST" action="{{ url_form_post }}" enctype="multipart/form-data" class="form">
{% csrf_token %}
<table>
    {% for field in form %}
        <tr>
            <td>{{ field.label_tag }}</td>
            <td id="field-input-{{ field.html_name }}">{{ field }}</td>
            <td id="field-error-{{ field.html_name }}"><ul class="errorlist"></ul></td>
        </tr>
    {% endfor %}
</table>
<input type="submit" value="Save"/>
</form>
