{% extends "cms/base_view.html" %}

{% block content_left %}
    <h1>{{ object.title }}</h1>
    <p>{{ object.description }}</p>
	<br/>
	<ul class="tagit">
        {% for tag in object.tags.split %}
            <li class="tagit-show ui-state-default ui-corner-all">    
                {{ tag }}
            </li>
        {% endfor %}
    </ul>
    <br />
	<a href="{{ object.file.url }}">Download</a>
{% endblock %}

{% block content_right %}
<a href="{% url base_edit path=object.get_absolute_url %}" rel="facebox">Edit</a>
<a href="{% url base_add path=object.get_absolute_url %}" rel="facebox">Add</a>
{% endblock %}
