{% extends "cms/base_view.html" %}
{% load i18n %}

{% block content_left %}
<div class="template-list">
	<h1>{{ object.title }}</h1>	
	<p>{{ object.description|safe }}</p>
	<br/>
	{% if object.mimetype == 'video' or object.mimetype == 'audio' %}
		<video class="video-js vjs-default-skin" controls
	      width="560" height="315"
	      data-setup="{}">
	      <source src="{{ object.file.url }}" type="{{ object.true_mimetype }}">
	    </video>
	    <br/>
	{% endif %} 
	<a class="cms-file-download button" href="{{ object.file.url }}">{% trans "Download" %}</a>
	<br />	
	<ul class="tagit">
	    {% for tag in object.tags.split %}
	        <li class="tagit-show ui-state-default ui-corner-all">    
	            {{ tag }}
	        </li>
	    {% endfor %}
	</ul>
</div>
{% endblock %}