{% extends "cms/base_view.html" %}
{% load courses_tags %}
{% load cms_tags %}
{% load i18n %}
{% load pagination_tags %}

{% block content_left %}
<div class="template-list">
    	<h1>{{ object.title }}</h1>
    	<p>{{ object.description|safe }}</p>
		<ul class="tagit">
        	{% for tag in object.tags.split %}
            	<li class="tagit-show ui-state-default ui-corner-all">    
                	{{ tag }}
            	</li>
			{% endfor %}
    	</ul>
    {% if children %}
		{% autopaginate children 5 %}
		<ul class="children-list">
		    {% for child in children %}
		    	<li>	
		    		<a class="child-icon" href="/{{ child.get_absolute_url }}"><img src="{{STATIC_URL}}images/cms-icons/{{child.portal_type}}.png" width="32" height="32"></a>
					<span class="child-title"><a href="/{{ child.get_absolute_url }}">{{child.title }}</a></span>
				    <!-- <div class="move-child"></div> -->
					<div class="child-desc">{{child.description|safe }}</div>
				</li>
		    {% endfor %}
		</ul>
		<br/>
    {% endif %}
</div>
{% paginate %}
{% endblock %}
{% block content_right %}
	{% get_content_parent object %}
	{% if content_parent.parent.portal_type == 'course' %}
		{% get_user_section content_parent.parent %}
		{% if section %}
			{% include "courses/portlet_menu.html" with object=section %}
		{% endif %}
	{% else %}
		{% if content_parent.parent.portal_type == 'space' %}
			{% include "spaces/portlet_menu.html" with object=content_parent.parent %}
		{% endif %}
	{% endif %}
{% endblock %}