{% extends "cms/base_view.html" %}
{% load courses_tags %}
{% load i18n %}

{% block content_left %}
	{% if object.title != 'resources' %}
    	<h1>{{ object.title }}</h1>
    	<p>{{ object.description|safe }}</p>
		<ul class="tagit">
        	{% for tag in object.tags.split %}
            	<li class="tagit-show ui-state-default ui-corner-all">    
                	{{ tag }}
            	</li>
			{% endfor %}
    	</ul>
	{% endif %}
    {% if children %}
		<div class="children-list">
		    {% for child in children %}
				<a href="/{{ child.get_absolute_url }}" class="child">
				    <div class="move-child"></div>
					<img class="child-icon" src="{{STATIC_URL}}images/cms-icons/{{child.portal_type}}.png" width="32" height="32">
					<span class="child-title">{{child.title }}</span>
					<div class="child-desc">{{child.description|safe }}</div>
				</a>
		    {% endfor %}
		</div>
    {% endif %}
{% endblock %}
{% block content_right %}
	<div id="sidebar-profile">
		{% if object.parent.portal_type == 'course' %}
			{% get_user_section object.parent %}
			{% include "courses/portlet_menu.html" with object=section %}
		{% endif %}
	</div>
{% endblock %}