{% extends "cms/base_view.html" %}
{% load thumbnail %}

{% block content_left %}
<div class="template-list">
	<h1>{{ object.title }}</h1>
	<p>{{ object.description|safe }}</p>
	<br/>
	<ul class="tagit">
	    {% for tag in object.tags.split %}
	        <li class="tagit-show ui-state-default ui-corner-all">    
	            {{ tag }}
	        </li>
	    {% endfor %}
	</ul>
    <br />
    {% thumbnail object.image "768x768" upscale=False as im %}
		<a rel="lightbox" href="{{ object.image.url }}"><img src="{{ im.url }}" class="selected-image"></a>
	{% endthumbnail %}
</div>
{% endblock %}