{% extends "cms/base_view.html" %}

{% block content_left %}
    <h1>{{ object.title }}</h1>
    <p>{{ object.description|safe }}</p>
	<ul class="tagit">
        {% for tag in object.tags.split %}
            <li class="tagit-show ui-state-default ui-corner-all">    
                {{ tag }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content_right %}
	{{ block.super }}
	<ul class="cms-toc">
		{% for item in object.get_children %}
			<li><img src="{{ STATIC_URL }}images/cms-icons/{{item.portal_type}}.png" width="16" height="16"><a href="/{{item.get_absolute_url}}">{{ item }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}
