{% load i18n %}
{% if toc %}
    <div class="widget">
        <div class="widget-header"><h3>{% trans "Table Of Contents" %}</h3></div>
        <div class="widget-content">
        	<ul class="nav nav-pills nav-stacked">
        		{% for item in toc %}
        			<li {% if item.slug == object.slug %} class="active" {% endif %}>
        			    <a href="/{{item.get_absolute_url}}">
        			        <img src="{{ STATIC_URL }}{{item.icon}}" width="16" height="16"/>&nbsp;
        			        {{ item }}
        			        {% if item.hide %}	
    							<span class="hidden label label-important">{% trans "Hidden" %}</span>
    						{% endif %}
        			    </a>
        			</li>
        		{% endfor %}
        	</ul>
        </div>
    </div>
{% endif %}