{% extends "cms/base_view.html" %}
{% load cms_tags %}
{% load pagination_tags %}
{% load socialapps_tags %}
{% load i18n %}

{% block content_title %}{{ object.title }}{% endblock %}
{% block content_left %}
	<div class="cms-multipage">
		{% if object.show_toc %}
			<div class="template-list">
			   	<p class="description">{{ object.description|safe }}</p>
				<ul class="tagit">
			       	{% for tag in object.tags.split %}
			           	<li class="tagit-show ui-state-default ui-corner-all">    
			               	{{ tag }}
			           	</li>
					{% endfor %}
			   	</ul>
        	    {% if children %}
        			{% ifhasperm edit object %}
        				{% include "cms/children_list_admin.html" with children=children object=object %}
        			{% endifhasperm %}
        	    {% endif %}
			</div>
		{% else %}
		 	uno por uno
		{% endif %}
	</div>
{% endblock %}