{% load i18n %}
{% for menu in menus %}
    <div class="widget">
        <div class="widget-header"><h3>{% if menu.title %} {{ menu.title }} {% else %} {% trans "Navigation" %} {% endif %}</h3></div>
            {% if menu.menu.meta.style == 'list' %}
                <div class="widget-content portlet_menu list">
                    <ul class="nav nav-tabs nav-stacked">
                        {% for item in menu.menu.items %}
                            <li>
                                {% if item.type == 'button' %}
                                    <a class="modal-launch-button btn" href="#modal-dialog" data-content="/{{ menu.absolute_url }}/{{ item.url }}" data-toggle="modal">
                                        <i class="{{ item.icon }}"></i>&nbsp;{{item.title}}
                                    </a>
                                {% else %}
                                    {% if menu.absolute_url %}
                                        <a href="/{{ menu.absolute_url }}/{{ item.url }}">
                                    {% else %}
                                        <a href="/{{ item.url }}">
                                    {% endif %}
                                        {% if item.icon %}
                                            <img src="{{ item.icon }}" alt="{{ item.description }}" class="type-icon"/>
                                        {% endif %}
                                        {{ item.title }}
                                        {% if item.extra %}
                                            {{ item.extra|safe }}
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>   
                </div>
            {% else %}
                <div class="widget-content portlet_menu default">
                    <ul>
                        {% for item in menu.menu.items %}
                            <li>
                                <a href="/{{ menu.absolute_url }}/{{ item.url }}" class="btn">
                                    {% if item.icon %}
                                        <img src="{{ item.icon }}" alt="{{ item.description }}" class="type-icon"/>&nbsp;
                                    {% endif %}
                                    <p {% if item.title|length > 16 %}style="margin-top:-22px;"{% endif %}>{{ item.title }}</p>
                              </a>
                            </li>
                        {% endfor %}
                    </ul>   
                </div>  
            {% endif %}
    </div>
{% endfor %}