{% extends "cms/base_view.html" %}
{% load cms_tags %}
{% load courses_tags %}

{% block content_left %}
    <h1>{{ object.title }}</h1>
    <p class="description">{{ object.description|safe }}</p>
    <p>{{ object.text|safe }}</p>
	<br/>
	<ul class="tagit">
        {% for tag in object.tags.split %}
            <li class="tagit-show ui-state-default ui-corner-all">    
                {{ tag }}
            </li>
        {% endfor %}
    </ul>
    <br />

    {% if children %}
		<div class="children-list">
		    {% for child in children %}
				<a href="/{{ child.get_absolute_url }}" class="child">
					<img class="child-icon" src="{{STATIC_URL}}images/cms-icons/{{child.portal_type}}.png" width="32" height="32">
					<span class="child-title">{{child.title }}</span>
				</a>
		    {% endfor %}
		</div>
    {% endif %}
{% endblock %}
{% block content_right %}
    {% get_content_parent object %}
    {% if content_parent.parent.portal_type == 'course' %}
        {% get_user_section content_parent.parent %}
        {% if section %}
            {% include "courses/portlet_menu.html" with object=section %}
        {% endif %}
    {% else %}
        {% if content_parent.parent.portal_type == 'space' %}
            {% include "spaces/portlet_menu.html" with object=content_parent.parent %}
        {% endif %}
    {% endif %}
{% endblock %}
