{% extends "cms/base_view.html" %}
{% load cms_tags %}
{% load courses_tags %}
{% load pagination_tags %}

{% block content_title %}{{ object.title }}{% endblock %}
{% block content_left %}
<div class="cms-page">
	<div class="template-list cms-page">
	    <p class="description">{{ object.description|safe }}</p>
	    <p>{{ object.text|safe }}</p>
		<br/>
		<ul class="tagit">
	        {% for tag in object.tags.split %}
	            <li class="tagit-show ui-state-default ui-corner-all">    
	                {{ tag }}
	            </li>
	        {% endfor %}
	    </ul>
	    <br />
	    {% if children %}
			{% if object.pagination > 0 %}
				{% autopaginate children object.pagination %}
			{% endif %}
				{% include "cms/children_list_admin.html" with children=children object=object %}
	    {% endif %}
	</div>
	{% paginate %}	
</div>
{% endblock %}
